<div class="row">
   
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center" style="color:white;">Contact Us</h2>
        <p class="text-center" style="color:white;">Send us your questions or comments!</p>
        <div class="well">
            <%= form_for @contact do |f| %>
              <div class="form-group">
                  <%= f.label :name %>:
                  <%= f.text_field :name, class: 'form-control' %><br />
              </div>
              
              <div class="form-group">
                  <%= f.label :email %>:
                  <%= f.email_field :email, class: 'form-control' %><br />
              </div>
              
              <div class="form-group">
                  <%= f.label :message %>:
                  <%= f.text_area :message, class: 'form-control' %><br />
              </div>
              
              <%= f.submit 'Send', class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
    
</div>